@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

@media only screen and (max-width: 992px) {
    .navbar .menu li {
        display: none;
    }

    .menu-btn {
        display: inline-block;
    }
}

@media only screen and (max-width: 1300px) {
    .max-width {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 767px) {
    .home .max-width {
        margin: auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .home {
        background-size: contain;
    }
}


::selection {
    background-color: rgb(255, 0, 0);
    color: black;
}

/*  navbar   inicio*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #ff0000;
    padding: 15px 0;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.navbar .logo a span {
    color: #ff0000;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu button {
    list-style: none;
    display: inline-block;
}

.navbar .menu button a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu button a:hover {
    color: #ff0000;
}

.navbar.sticky .menu button a:hover {
    color: #fff;
}


/*  Menu  Mobile  */
.menu-btn {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    width: 41px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #ff0000;
    border-radius: 6px;
    font-size: 30px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;

}



/* Principal */

@media (max-width: 200px) {
    body {
        background-size: 100vw 100vh;
    }
}


.btn-custom {
    position: relative;
    padding: 1.0em 1.8em;
    outline: none;
    border: 1px solid #353535;
    background: #353535;
    color: #ffffff;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    overflow: hidden;
    transition: 0.1s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-custom:hover {
    box-shadow: 0 0 10px #ff0000, 0 0 25px #ff0000, 0 0 50px #ff0000;
    transition-delay: 0s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    border-radius: 4px;
    margin-top: 10px;
    left: -30px;
    /* move o botão 30 pixels para a esquerda */
}

.show-dropdown {
    display: block;
}

#menuu {
    margin-top: 7px;
  }

.menu button {
    margin-bottom: 20px;
}

.menu button:last-child {
    margin-bottom: 20;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    flex-direction: row;
    gap: 5px;
}

.menu.active {
    flex-direction: column;
}

.menu button {
    flex-direction: row;
    margin: 0;

}

.menu.active button {
    margin-bottom: 5;
}

/*  responsivo  */
@media (max-width: 1300px) {
    .navbar .max-width {
        margin-left: 0;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 991px) {
    .navbar .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .max-width {
        max-width: 800px;
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -200%;
        top: 0;
        background: rgba(0, 0, 0, 0.445);
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    footer {
        margin-top: 15px;
    }
}

@media (max-width: 690px) {
    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}